.introduction{
    padding-top: 100px;
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 380px);
    }
    &__item{
        padding: 75px 40px 70px;
        display: grid;
        grid-template-rows: repeat(3, auto);
    }
    &__descr{
        margin-top: 17px;
    }
    &__btn{
        margin-top: 35px;
        height: 35px;
        padding: 0px 5px;
        font-size: 18px;
        font-family: 'Jost';
        color: $descr-color;
        background: #fff;
        line-height: 27px;
        border: 2px solid $copper-color;
        align-self: end;
        justify-self: center;
    }
}