.phone{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 93px;
        height: 93px;
        border-radius: 100%;
        background-color: $bg-color;
    }
}